<div class="popup popup__comment" id="comment">
	<a href="#" class="popup__close"></a>
	<div class="popup__container">
		<div class="row popup__girl">
			<div class="popup__girl-pic"><img src="http://vsclub-new.artfactor-test-2.ru/upload/iblock/f15/1.jpeg" alt=""></div>
			<div class="popup__girl-info">
				<div class="popup__girl-name">Анна-Мария</div>
				<div class="popup__girl-id">№ 8795431</div>
				<div class="popup__girl-city"><img src="img/saratov.svg">Саратов</div>
				<div class="popup__girl-params">
					<p>23 / 175 / 55</p>
					<p>Не замужем</p>
					<p>Детей нет</p>
				</div>
			</div>
		</div>
		<form>
		<div class="input__row">
			<div class="input__col-full">
				<textarea class="input__textarea" placeholder="Комментарий"></textarea>
			</div>
		<div class="input__row">
			<div class="input__col-full"><input class="input__submit" type="submit" value="Сохранить" name="submit"></div>
		</div>
		</form>
	</div>
</div>