<!-- MOBILE-MENU - START (display: none в menu-mobile.scss)-->
	<div class="menu-mobile-bg"></div>
	<div class="menu-mobile">
		<div class="menu-mobile-wrapper">
			<a href="#" class="close-menu-mobile">
				<img src="img/close-menu-mobile.svg" alt="">
			</a>
			<ul class="menu-mobile-list">
				<li	class="menu-mobile-item"><a href="#" class="menu-mobile-link">О клубе</a></li>
				<li	class="menu-mobile-item"><a href="#" class="menu-mobile-link">Для мужчин</a></li>
				<li	class="menu-mobile-item"><a href="#" class="menu-mobile-link">Для девушек</a></li>
				<li	class="menu-mobile-item"><a href="#" class="menu-mobile-link">Контакты</a></li>
				<li	class="menu-mobile-item"><a href="#" class="menu-mobile-link">Выбрать город</a></li>
			</ul>
			
			<!-- Блок с телефонами городов - НАЧАЛО -->
			<div class="block-connection">
				<div class="city-phone">
					<div class="connection-text">
						<span class="city-phone-number-title">Москва</span>
						<a class="city-phone-number-link" href="tel:+79543711916">+7 954 371 19 16</a>	
					</div>
					<div class="connection-button">
						<a class="connection-button-link" href="tel:+79543711916">позвонить</a>
					</div>
				</div>
				<div class="city-phone">
					<div class="connection-text">
						<span class="city-phone-number-title">Санкт-Петербург</span>
						<a class="city-phone-number-link" href="tel:+79543711916">+7 954 371 19 16</a>	
					</div>
					<div class="connection-button">
						<a class="connection-button-link" href="tel:+79543711916">позвонить</a>
					</div>
				</div>
				<div class="city-phone">
					<div class="connection-text">
						<span class="city-phone-number-title">Саратов</span>
						<a class="city-phone-number-link" href="tel:+79543711916">+7 954 371 19 16</a>	
					</div>
					<div class="connection-button">
						<a class="connection-button-link" href="tel:+79543711916">позвонить</a>
					</div>
				</div>
			</div>
			<!-- Блок с телефонами городов - КОНЕЦ -->

			<!-- Блок с соц.сетями - НАЧАЛО -->
			<div class="block-connection">
				<div class="social-write">
					<div class="connection-text">
					<span class="social-write-title-text">в WhatsApp</span>
					</div>
					<div class="connection-button">
						<a class="social-button-link" href="#">написать</a>
					</div>
				</div>
				<div class="social-write">
					<div class="connection-text">
						<span class="social-write-title-text">в Viber</span>
					</div>
					<div class="connection-button">
						<a class="social-button-link" href="#">написать</a>
					</div>
				</div>
				<div class="social-write">
					<div class="connection-text">
						<span class="social-write-title-text">в Telegram</span>
					</div>
					<div class="connection-button">
						<a class="social-button-link" href="#">написать</a>
					</div>
				</div>
			</div>
			<!-- Блок с соц.сетями - КОНЕЦ -->

		</div>
	</div>
	<!-- MOBILE MENU - END --> 