<div class="popup popup__comment popup__special">
	<a href="#" class="popup__close"></a>
	<div class="popup__container">
		<div class="popup__title">Персональное <br>предложение</div>
		<div class="row">
			<div class="special__left">
				<div class="special__left-name">Сергей!</div>
				<div class="special__left-text">У вас есть неженатые друзья? Если Ваш друг: Москич или Петербуржец станет Клиентом Клуба, я сделаю Вам скидку 50% на следующую клубную карту!</div>
				<div class="special__left-author">Всегда на связи, Елена:)</div>
			</div>
			<div class="special__right">
				<div class="special__right-sale">
					<span>Скидка</span>50%
				</div>
			</div>
		</div>
	</div>
</div>