@media (min-width: 1600px) and (max-width: 1899px) {

  .catalog-list {

    .catalog-item {
  
      .catalog-item-link {
  
        .icon-archive {
          top: 6px;
          right: 8px;
          
          .icon-archive-img {
            width: 21px;
            height: 18px;
          }

          .add-list {
            padding-top: 16px;

            .delete-archive {
              font-size: 12px;
              padding-top: 2px;
            }
          }  
        }
      }
    }
  }
}