@media (min-width: 1100px) and (max-width: 1366px) {

  .catalog-list {

    .catalog-item {
  
      .catalog-item-link {
  
        .icon-archive {
          top: 8px;

          .add-list {

            .delete-archive {
              font-size: 12px;
              padding-top: 4px;
            }
          }  
        }
      }
    }
  }
}