@media (min-width: 1300px) and (max-width: 1599px) {

	.numbering-description-text {
		margin-top: 31px;
		font-size: 20px;
		padding: 0 40px;
	}

	.catalog-list {
		margin-top: 11px; 
		padding: 0 40px;      

		.catalog-item {
			margin-left: calc((100% - 1146px) / 10);
			margin-right: calc((100% - 1146px) / 10);
			margin-bottom: 17px;

			&:first-child {
				margin-left: 0;
			}

			&:nth-child(6n+1) {
				margin-left: 0;
			}
	
			&:nth-child(6n+6) {
				margin-right: 0;
			}

			&:nth-child(7n+1) {
				margin-left: calc((100% - 1146px) / 10);
			}
	
			&:nth-child(7n+7) {
				margin-right: calc((100% - 1146px) / 10);
			}

			&:first-child {
				margin-left: 0;
			}

			.number-area {
				width: 29px;
				height: 29px;
			}

			.catalog-item-link {

				.icon-favorite {
					top: -163px;
					width: 21.8px;
					height: 18.6px;
					right: 8px;

					.delete-favorite {
						font-size: 11px;
						padding-top: 18px;
						right: 10px;

						&:hover {
							right: 10px;
						}
					}
				}
			}

			.catalog-item-info {
				width: 191px;
				height: 185px;
				padding: 68px 15px 11px 15px;

				.img-city {
					width: 18.4px;
					height: 18.4px;
				}

				.title-city {
					padding-top: 0;
					font-size: 13px;
					display: inline-block;
					position: relative;
					left: 0px;
					top: -4px;
					line-height: 12px;
				}

				.characteristic {
					padding-top: 8px;
					font-size: 12px;
					line-height: 11px;
				}

				.having-children {
					padding-top: 5px;
					font-size: 12px;
					line-height: 11px;
				}
	
				.marital-status {
					padding-top: 5px;
					font-size: 12px;
					font-family: 'Gotham Pro';
					line-height: 11px;
				}

				.for-comment {
					width: 191px;
					padding: 7px 33px 7px 32px;
				}
			}

			.item-content-img {
				width: 191px;
				height: 185px;
			}

			.item-content-description {
				margin-top: 8px;
				line-height: 15px;

				.item-content-description-number {
					margin-top: 9px;
					line-height: 15px;
				}
			}
		}
	}
}