@media only screen and (min-width : 1025px) {
	.header__fix {
		
		&:after {
			height: 100%;
			width: 23.7%;
			background: #C9CED8;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			z-index: -1;
			transition: all 500ms;
		}
		
		.first-logo {
			opacity: 0;
			z-index: -1;
			position: absolute;
			left: -9999px;
			transition: all 500ms;
		}
		.last-logo {
			position: relative;
			left: 0;
		}
	}
	.fp-viewing-section1 .header__fix {
		opacity: 1;
		z-index: 3;
		background: transparent;
		border-bottom: 1px solid #C9CED8;
		padding-left: 53px;
		padding-right: 53px;
		
		&:after {
			z-index: 1;
			opacity: 1;
		}
		
		.header__menu .header__menu__item a {
			font-family: Gotham Pro;
			font-size: 21px;
			line-height: normal;
			color: #033953;
			font-weight: 600;
		}
		.header__menu {
			padding-right: 0;
			width: 54%;
			transition: all 500ms;
		}
		.header__logo {
			position: relative;
			z-index: 5;
		}
		.first-logo {
			opacity: 1;
			z-index: 1;
			position: relative;
			left: 0;
		}
		.last-logo {
			opacity: 0;
			z-index: -1;
			position: absolute;
			left: -9999px;
			transition: all 500ms;
		}
	}
}

.hero {
	display: flex;
	height: 100vh;
}
.hero__sidebar {
	width: 23.7%;
	background: #033953;
	color: #fff;
	padding-top: 75px;
}
.hero__sidebar-list {
	background: #314A5D;
	padding: 25px 18px 0px 28px;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}
.hero__sidebar-item {
	width: 125px;
	height: 125px;
	margin-bottom: 20px;
	overflow: hidden;
	
	img {
		width: 100%;
	}
}

.hero__city {
	padding: 45px 30px 40px 53px;
}
.hero__city-item {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 14px;
	&:last-child {
		margin-bottom: 0;
	}
}
.hero__city-img {
	width: 56px;
	
	img {
		width: 100%;
	}
}
.hero__city-title {
	width: calc(100% - 56px);
	font-family: Gotham Pro;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 43px;
	padding-left: 23px;
	color: #FFFFFF;
}

.hero__banner {
	width: 76.3%;
	background: url('../img/main_bg-new.jpg') no-repeat;
    position: relative;
    background-size: contain;
    background-size: auto 100%;
}
.hero__banner-title {
	font-family: Rage Italic LET;
	font-size: 54px;
	line-height: normal;
	color: #033953;
	position: absolute;
	top: 120px;
	right: 360px;
}
.hero__banner-slogan {
	position: absolute;
	right: 210px;
	top: 220px;
	width: 608px;
	height: 326px;
	font-family: Gotham Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 53.8767px;
	line-height: 74px;
	text-transform: uppercase;
	color: #033953;
	padding: 52px 30px 52px 90px;
	
	span {
		line-height: 77px;
		color: #DC143C;
	}
	
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: url('../img/main_border-new.png') no-repeat;
		background-size: cover;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.login-popup {
    top: 75px;
}
.login-popup .close-login {
    top: 30px;
}

.header__menu__item.selection-city .city-list.man-list {
    height: 226px;
}

.fp-viewing-section1 .header__menu__item.selection-city .city-list.man-list {
		top: 74px;
		height: 200px;
		
		.city-list-item-link {
			font-weight: 400!important;
			margin-bottom: 15px;
		}
	}
	
.fp-viewing-section1 .header__fix .header__menu .header__menu__item.selection-city-really {
   .city-list-item-link {
		font-weight: 400!important;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width : 1680px) and (max-height: 1200px) {
	.hero__sidebar {
		width: 28%;
	}
	.hero__city-title {
		font-size: 26px;
	}
	.hero__banner {
		width: 72%;
	}
	.hero__sidebar-item {
		width: 115px;
		height: 115px;
		margin-bottom: 20px;
	}
	.header__fix:after {
		width: 28%;
	}
	.fp-viewing-section1 .header__fix .header__menu {
		padding-right: 0;
		padding-left: 0;
		width: 64%;
		.header__menu__item a {
			font-size: 18px;
		}
	}
	.hero__banner-title {
		font-size: 48px;
		top: 110px;
		right: 130px;
	}
	.hero__banner-slogan {
		right: 50px;
		top: 190px;
		width: 546px;
		height: 293px;
		font-size: 42px;
		line-height: 48px;
		padding: 52px 30px 52px 86px;
	}
}

@media only screen and (max-width : 1440px) and (max-height: 900px){
	.hero__sidebar {
		width: 25%;
		padding-top: 61px;
	}
	.hero__city {
		padding: 35px 15px 32px 15px;
	}
	.hero__city-item {
		margin-bottom: 28px;
	}
	.hero__city-img {
		width: 40px;
	}
	.hero__city-title {
		width: calc(100% - 40px);
		font-size: 24px;
		line-height: 34px;
		padding-left: 12px;
	}
	.hero__sidebar-list {
		padding: 12px 15px 0px 15px;
	}

	.hero__banner {
		width: 75%;
		background-size: cover;
	}
	.hero__sidebar-item {
		width: 95px;
		height: 95px;
		margin-bottom: 10px;
	}
	.hero__sidebar-item:nth-child(10),
	.hero__sidebar-item:nth-child(11),
	.hero__sidebar-item:nth-child(12) {
		display: none;
	}
	.hero__banner-slogan {
		right: 100px;
		top: 134px;
		width: 450px;
		height: 241px;
		font-size: 40px;
		line-height: 55px;
		padding: 40px 15px 40px 66px;
		span {
			line-height: 57px;
		}
	}
	.hero__banner-title {
		font-size: 42px;
		top: 76px;
		right: 263px;
	}
	
	.fp-viewing-section1 .header__fix {
		height: 61px;
		padding-left: 15px;
		padding-right: 30px;
		
		&:after {
			width: 25%;
		}
		
		.header__menu .header__menu__item a {
			font-size: 16px;
		}
		.header__menu {
			width: 60%;
		}
		.header__logo {
			img {
				width: 236px;
			}
		}
	}
	.fp-viewing-section1 .header__menu__item .city-list {
		top: 68px;
		
		.city-list-item-link {
			font-weight: 400!important;
			margin-bottom: 15px;
		}
	}
}
@media only screen and (max-width : 1280px) and (max-height: 1200px) and (min-width: 1025px) {
	.hero__city-title {
		font-size: 16px;
		line-height: 30px;
	}
	.hero__sidebar-item {
		width: 72px;
		height: 72px;
		margin-bottom: 8px;
	}
	.hero__banner-title {
		font-size: 30px;
		right: 94px;
	}
	.hero__banner-slogan {
		right: 94px;
		top: 134px;
		width: 310px;
		height: 166px;
		font-size: 28px;
		line-height: 32px;
		padding: 32px 15px 32px 40px;
		span {
			line-height: 38px;
		}
	}
	.fp-viewing-section1 .header__fix .header__menu .header__menu__item a {
		font-size: 15px;
	}
	.hero__sidebar {
		overflow-y: auto;
	}
}
@media only screen and (max-width : 1024px) and (max-height: 1400px){

	.fp-viewing-section1 .header__fix {
		opacity: 1;
		z-index: 5;
	}
	.first-logo {
		display: none;
	}
	.fp-viewing-section1 .header__fix .header__menu {
		width: 24%;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding-right: 0;
		padding-left: 0;
	}

	.hero__sidebar {
		width: 100%;
		height: 35vh;
		padding-top: 0;
		overflow-y: auto;
	}
	.hero__sidebar-list {
		padding: 13px 35px 0;
	}
	.hero__city {
		display: flex;
		align-items: baseline;
		padding: 0 35px;
		flex-direction: row;
	}
	.hero__city-item {
		width: auto;
		margin-bottom: 0;
		padding: 15px 13px;
		flex-grow: 3;
	}
	.hero__city-item+.hero__city-item {
		border-left: 1px solid rgba(255, 255, 255, 0.2);
	}
	.hero__city-img {
		width: 46px;
	}
	.hero__city-title {
		font-size: 18px;
		line-height: 26px;
		padding-left: 14px;
	}
	.hero__banner {
		width: 100%;
		height: 66vh;
		background-size: auto 80%;
		//background-size: contain;
	}
	.hero__sidebar-item {
		width: 128px;
		height: 128px;
		margin-bottom: 10px;
	}
	.hero__sidebar-item:nth-child(11),
	.hero__sidebar-item:nth-child(12) {
		//display: none;
	}
	.hero {
		flex-wrap: wrap-reverse;
	}
	.hero__banner-title {
		display: none;
	}
	.hero__banner-slogan {
		width: 100%;
		left: 0;
		bottom: 0;
		right: auto;
		top: auto;
		background: #fff;
		padding: 38px 50px;
		font-size: 36px;
		line-height: 49px;
		text-transform: uppercase;
		height: auto;
		span {
			font-size: 36px;
			line-height: 49px;
			display: block;
		}
		br {
			display: none;
		}
	}
	.hero__banner-slogan:after {
		display: none;
	}
}
@media only screen and (max-width : 767px) and (max-height: 1200px){
	.hero__banner {
		height: 58vh;
		background-size: auto 80%;
	}
	.hero__sidebar {
		height: 43vh;
	}
	.hero__banner-slogan {
		font-size: 26.6201px;
		line-height: 36px;
		padding: 30px;
		span {
			font-size: 26.6201px;
			line-height: 36px;
		}
	}
	.hero__sidebar-item {
		width: 108px;
		height: 108px;
		margin-bottom: 11px;
	}
	.hero__sidebar-item:nth-child(9),
	.hero__sidebar-item:nth-child(10) {
		//display: none;
	}
	.hero__sidebar-list {
		padding: 23px 19px 0;
	}
	.hero__city {
		padding: 0 19px;
	}
	.hero__city-title {
		font-size: 14px;
		line-height: 20px;
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.hero__city-item {
		display: block;
		text-align: center;
	}
	.hero__city-img {
		margin: 0 auto;
	}
}
@media only screen and (max-width : 500px) and (max-height: 1200px){
	.hero__sidebar-list {
		padding: 15px 26px 0;
	}
	.hero__banner {
		height: 44vh;
		background-size: auto 83%;
	}
	.hero__sidebar {
		height: 56vh;
	}
	.hero__banner-slogan {
		font-size: 24.262px;
		line-height: 33px;
		padding: 22px 26px;
		span {
			font-size: 24.262px;
			line-height: 33px;
		}
	}
	.hero__city {
		flex-direction: column;
		padding: 15px 26px;
	}
	.hero__city-item {
		width: 100%;
		margin-bottom: 0;
		padding: 5px 0;
		flex-grow: 0;
		border: 0!important;
		display: flex;
	}
	.hero__city-title {
		padding-left: 25px;
		text-align: left;
		font-size: 18px;
		line-height: 26px;
	}
	.hero__sidebar-item {
		width: 113px;
		height: 113px;
		margin-bottom: 11px;
	}
}
@media only screen and (max-width : 380px) and (max-height: 1200px){
	.hero__banner-slogan {
		font-size: 16px;
		line-height: 26px;
		padding: 12px 22px;
		span {
			font-size: 16px;
			line-height: 22px;
		}
	}
	.hero__city-img {
		width: 36px;
	}
	.hero__sidebar-item {
		width: 96px;
		height: 96px;
		margin-bottom: 10px;
	}
	.hero__city {
		padding: 8px 26px;
	}
	.hero__banner {
		height: 42vh;
		background-size: auto 88%;
	}
	.hero__sidebar {
		height: 58vh;
	}
}

.popup {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 42.3%;
	background: linear-gradient(0deg, rgba(3, 57, 83, 0.65), rgba(3, 57, 83, 0.65));
	color: #fff;
	padding: 15px;
	display: none;
}
.popup__close {
	//width: 21px;
	//height: 21px;
	background: url("../img/detail-close.svg") no-repeat;
	background-position: center;
	background-size: cover;
	transition: all 300ms ease-in;
	position: absolute;
	//right: 0;
	//top: 0;
	width: 44px;
	height: 44px;
	right: 23px;
    top: 108px;
	
	&:hover {
		transform: rotate(90deg);
	}
}
.popup__main {
	width: 100%;
	position: fixed;
	padding: 150px;
	padding-top: 60px;
	padding-bottom: 30px;
	z-index: 10;
	background: linear-gradient(0deg, rgba(3, 57, 83, 0.9), rgba(3, 57, 83, 0.9));
	
	.popup__title {
		font-size: 32px;
		font-family: Georgia;
		line-height: 42px;
		margin-bottom: 40px;
	}
	.popup__container {
		overflow-y: scroll;
		height: 100%;
	}
}
.popup__close {
	top: 50px;
	right: 50px;
}
@media only screen and (max-width : 1024px) {
	.popup__main {
		padding: 60px;
		padding-top: 30px;
		padding-bottom: 15px;
		
		.popup__title {
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 30px;
		}
	}
	.popup__close {
		top: 30px;
		right: 30px;
		width: 30px;
		height: 30px;
	}
}
@media only screen and (max-width : 768px) {
	.popup__main {
		padding: 35px;
		padding-top: 20px;
		padding-bottom: 15px;
		
		.popup__title {
			font-size: 20px;
			line-height: 28px;
		}
		p {
			font-size: 14px;
			line-height: 20px;
		}
	}
	.popup__close {
		top: 15px;
		right: 10px;
		width: 20px;
		height: 20px;
	}
}