
$white: #fff;

%font-georgia {
	font-family: Georgia;
	font-style: normal;
}

body {
	font-family: Gotham Pro;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
}
div {
	box-sizing: border-box;
}

.row {
	display: flex;
	justify-content: flex-start;
}

.read-more-popup {
	opacity: 0;
	display: flex;
	left: -9999px;
	z-index: -1;
	transition: opacity 500ms ease-in;
}
.read-more-show {
    opacity: 1;
	left: 0; 
	z-index: 100;
}
.read-more-sidebar {
    opacity: 0.8;
}

.readmore {
	//min-height: 300px!important;
	overflow: hidden;
}
.main__desc-wrapper {
	height: 100%;
	overflow-y: auto;
	
	a {
		padding-top: 30px;
		text-decoration: none;
		color: rgba(255, 255, 255, 0.6);
		font-size: 16px;
		padding: 10px 0;
		transition: color 0.3s;
		display: block;
		position: relative;
		z-index: 2;
	}
	a:before {
		position: absolute;
		left: 0;
		bottom: 36px;
		width: 100%;
		height: 160px;
		display: block;
		content: "";
		z-index: 1;
		background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, #314A5D 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%, #314A5D 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(125,185,232,0) 0%, #314A5D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#314A5D',GradientType=0 ); /* IE6-9 */
	}
	a.active:before {
		opacity: 0;
	}
}

.main__hidden {
	display: none;
}

.main__section {
	overflow: hidden;
	position: relative;
}

.header {
	width: 100%;
	height: 75px;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(270deg, #284770 4.8%, rgba(40, 71, 112, 0) 112.96%);
	background-blend-mode: multiply;
	color: $white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 35px;
	z-index: 5;
	
	.header__logo {
		width: 40%;
	}
	.header__menu {
		width: 60%;
		display: flex;
		justify-content: space-between;
		padding: 0 28px;
		.header__menu__item {
			a {
				font-size: 21px;
				color: #C9CED8;
				text-decoration: none;
				transition: all 100ms ease-in;
				font-weight: 300;
			}
			&:hover a {
				color: #DC143C;
			}
		}
	}
}
.top-header-menu-link {
    font-weight: 300;
}
.header__logo-city {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	span {
		@extend %font-georgia;
		font-weight: bold;
		color: $white;
		line-height: 45px;
		font-size: 42px;
		padding-left: 30px;
		vertical-align: middle;
	}
	img {
		height: 45px;
		vertical-align: middle;
	}
}
.header__button, .header__slogan {
	display: none;
}
.content-part .start-date {
    margin-right: 301px;
    margin-top: 22px;
}
.content-part .dating-text {
    top: 307px;
    right: 12px;
    width: 43%;
    height: 33%;
}
.side-panel .navigation-city .city:first-child {
    margin-top: 27px;
}
.side-panel .navigation-city .city:nth-child(2) {
    margin-top: 34px;
}
.side-panel .navigation-city .city:last-child {
    margin-top: 37px;
}
.content-sidebar {
    padding: 35px 55px 33px 64px;
}

.wrap-main {
    height: 100vh;
}
.content-part {
    overflow: hidden;
	background-position-y: 0px;
	
	.header {
		display: none;
	}
}
.side-panel {
	background: #314A5D;
}
.main-slider-bg {
	background: rgba(46, 66, 78, 0.7);
}
.main-slider-bg .slick-prev {
	width: 7px;
    height: 20px;
    background: url('../img/main-slider-arrow.svg') no-repeat;
    display: block;
    border: 0;
    outline: 0;
    font-size: 0;
    position: absolute;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
	cursor: pointer;
}
.main-slider-bg {
	.image-block {
		position: relative;
	}
	.image-block:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 192px;
		height: 194px;
		display: block;
		background: linear-gradient(0deg, rgba(3, 57, 83, 0.74), rgba(3, 57, 83, 0.74));
		background-blend-mode: multiply;
		z-index: 2;
		opacity: 0;
		transition: all 300ms ease-in;
		content: "";
	}
}
.main-slider-desc {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: $white;
	transition: all 300ms ease-in;
	z-index: 3;
	line-height: 26px;
	
	.main-slider-img {
		text-align: center;
		img {
			display: inline;
		}
	}
	
	.main-slider-name {
		font-weight: bold;
	}
	.main-slider-id {
		
	}
	.main-slider-params {
		
	}
}
.image-block:hover:before,
.image-block:hover .main-slider-desc {
	opacity: 1;
}

.section__third {
	width: 100%;
	height: 100vh;
}
.main__beclient {
	width: 50%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	&:first-child {
		position: relative;
		right: -1px;
	}
}
.main__beclient-man {
	background-image: url("../img/m_2.jpg");
	text-align: right;
	padding-right: 134px;
    padding-top: 242px;
}
.main__beclient-woman {
	background-image: url("../img/w_2.jpg");
	text-align: left;
	padding-left: 70px;
    padding-top: 242px;
}

.beclient__title {
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 72px;
	color: $white;
	margin-bottom: 41px;
	
	span {
		display: block;
		font-size: 32px;
		margin-bottom: 4px;
	}
}
.beclient__links {
	margin-bottom: 105px;
}
.beclient__item {

	margin-bottom: 27px;
	
	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		color: $white;
		font-size: 26px;
	}
}
.button__beclient {
	background: #FFFFFF;
	border-radius: 100px;
	border: 0;
	display: inline-block;
	text-decoration: none;
	font-family: Gotham Pro;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	padding: 20px 48px;
	color: #304C60;
	position: relative;
	
	&:after {
		content: "";
		display: block;
		position: absolute;
	}
}
.button__beclient-man:after {
	background: url("../img/index-galstuk.png") no-repeat;
	width: 36px;
	height: 103px;
	left: 0;
	top: -28px;
}
.button__beclient-woman:after {
	background: url("../img/index-tuflya.png") no-repeat;
	width: 65px;
	height: 60px;
    right: -30px;
    top: -4px;
}

.section__fourth {
	width: 100%;
	height: 100vh;
	background: url("../img/index-4-bg.jpg") no-repeat;
	background-size: contain;
}
.main__about {
	width: 26%;
    margin-left: 21.5%;
	height: 100vh;
	background: linear-gradient(279.97deg, #283C4B 2.59%, rgba(49, 74, 93, 0) 113.74%);
	background-blend-mode: multiply;
	color: $white;
	padding: 180px 35px 30px 72px;
	
	.button__beclient {
		margin-bottom: 87px;
		padding-left: 68px;
		letter-spacing: 0px;
	}
	.button__beclient-woman:after {
		right: auto;
		left: 0;
	}
}
.main__about-buttons {
	max-width: 294px;
}
.main__desc {
	width: 52.5%;
	height: 100vh;
	padding: 206px 54px 30px 98px;
	background: #314A5D;
	color: $white;
	position: relative;
    left: -1px;
	p {
		font-size: 16px;
		line-height: 23px;
	}
}
.main__desc-title {
	font-size: 36px;
	color: #FFFFFF;
	font-family: Georgia;
	margin-bottom: 42px;
}
.main__about-title {
	line-height: 123px;
	font-size: 68px;
	margin-bottom: 79px;
	color: $white;
	font-family: Georgia;
	letter-spacing: 8px;
}

.section__fifth {
	background: url("../img/bg_7.jpg") no-repeat;
	width: 100%;
	height: 100vh;
	position: relative;
	background-size: cover;
}
.section__fifth:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: #5D748B;
	opacity: 0.4;
	mix-blend-mode: multiply;
}
.main__contacts {
	position: absolute;
	left: 23%;
	top: 0;
	height: 100%;
	width: 29%;
	padding: 106px 20px 48px 43px;
	background: #033953;
	color: $white;
	
	a {
		text-decoration: none;
		color: $white;
	}
	
}
.main__contactsrow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}
.main__contacts-title {
	font-family: Georgia;
	font-style: normal;
	font-weight: norma;;
	line-height: 80px;
	font-size: 79px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-bottom: 33px;
}
.main__contacts-subtitle {
	font-weight: normal;
	line-height: 23px;
	font-size: 16px;
	color: #FFFFFF;
	margin-bottom: 18px;
}
.main__contacts-item {
	padding: 25px 0;
}
.main__contacts-item + .main__contacts-item {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.main__contacts-phone {
	font-weight: normal;
	line-height: 34px;
	font-size: 24px;
	margin-bottom: 0px;
	color: #FFFFFF;
}
.main__contacts-name {
	font-weight: normal;
	line-height: 23px;
	font-size: 16px;
	color: #FFFFFF;
}
.button__border {
	display: block;
	font-size: 16px;
	border: 1px solid #84A4D0;
	box-sizing: border-box;
	padding: 12px 40px;
	color: #84A4D0;
}
a.button__border {
	color: #84A4D0;
}
.main__contactsrow-img {

}

.main__grid {
	display: flex;
	height: 100vh;
	position: relative;
	z-index: 2;
	opacity: 0;
	transition: opacity 300ms ease-in;
	transition-delay: 2s;
}

.active .main__grid {
	opacity: 1;
}

.main__grid-col:nth-child(1) {
	width: 37.5%;
	
	.main__grid-cell:nth-child(1) {
		height: 68%;
	}
	.main__grid-cell:nth-child(2) {
		height: 32%;
	}
}
.main__grid-col:nth-child(2) {
	width: 25%;
	.main__grid-cell:nth-child(1) {
		height: 68%;
	}
	.main__grid-cell:nth-child(2) {
		height: 32%;
	}
}
.main__grid-col:nth-child(3) {
	width: 37.5%;
	.main__grid-cell:nth-child(1) {
		height: 33.5%;
		img {
			top: 50%;
			transform: translateY(-50%);
			position: relative;
		}
	}
	.main__grid-cell:nth-child(2) {
		height: 66.5%;
	}
}

.main__grid-cell {

	width: 100%;
	overflow: hidden;
	opacity: 0;
	transition: opacity 300ms ease-in;
	position: relative;
	will-change: opacity;
	
	img {
		width: auto;
		min-height: auto;
		min-width: auto;
		height: auto;
		min-height: 100%;
		min-width: 100%;
		max-width: none;
		max-height: none;
	}
}
/*@for $i from 1 through 6 {
	.main__grid-cell[data-order='{$i}'] {
		transition-delay: 1s + $i;
	}
	.active .main__grid-cell[data-order={$i}] {
		opacity: 1;
	}
}*/
.main__grid-cell[data-order='1'] {
	transition-delay: 2s;
}
.main__grid-cell[data-order='2'] {
	transition-delay: 2.5s;
}
.main__grid-cell[data-order='3'] {
	transition-delay: 3s;
}
.main__grid-cell[data-order='4'] {
	transition-delay: 3.5s;
}
.main__grid-cell[data-order='5'] {
	transition-delay: 4s;
}
.main__grid-cell[data-order='6'] {
	transition-delay: 4.5s;
}
.active .main__grid-cell {
	opacity: 1;
}

.main__grid-cell + .main__grid-cell {
	border-top: 5px solid $white;
}
.main__grid-col + .main__grid-col {
	border-left: 5px solid $white;
}
.main__contactsrow-info {
	width: 40%;
	
	div:first-child {
		margin-bottom: 10px;
	}
}
.main__contactsrow-soc {
	.main__contactsrow-info {
		width: 50%;
	}
}
.main__contactsrow-btn {
	width: 36%;
}

.main__grid-animate {
	width: 100%;
	height: 100%;
	background: url("../img/саратов.jpg") no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 1;
	.main__grid-cell,
	.main__grid-col {
		border: 0;
		position: relative;
		opacity: 1;
	}
	.main__grid-cell + .main__grid-cell:after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		background: $white;
		transition: transform 500ms ease-in;
		transition-delay: 1s;
		transform: scaleX(0);
		will-change: transform;
	}
	.main__grid-col + .main__grid-col:after {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		width: 5px;
		height: 100%;
		background: $white;
		transition: transform 500ms ease-in;
		transition-delay: 1s;
		transform: scaleY(0);
		will-change: transform;
	}
}
.active .main__grid-animate {
	.main__grid-cell + .main__grid-cell:after {
		//width: 100%;
		//height: 5px;
		transform: scaleX(1);
	}
	.main__grid-col + .main__grid-col:after {
		//width: 5px;
		//height: 100%;
		transform: scaleY(1);
	}
}

.main__grid-cell:before {
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(0deg, rgba(3, 57, 83, 0.74), rgba(3, 57, 83, 0.74));
	background-blend-mode: multiply;
	z-index: 2;
	opacity: 0;
	transition: all 300ms ease-in;
}
.main__grid-desc {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
	color: $white;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	z-index: 3;
	padding: 30px;
	text-align: center;
	opacity: 0;
	transition: all 300ms ease-in;
	
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		li {
			margin-bottom: 6px;
		}
	}
}
.main__grid-title {
	font-size: 30px;
	margin-bottom: 12px;
}
.main__grid-id {
	border-top: 1px solid $white;
	padding-top: 5px;
	display: inline-block;
	margin-bottom: 30px;
}

.main__grid-cell:hover:before,
.main__grid-cell:hover .main__grid-desc {
	opacity: 1;
}

.header__fix {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	transition: all 300ms ease-in;
	
	.header__logo-city {
		display: none;
	}
}
.fp-viewing-section2 {
	.header__fix {
		.header__logo {
			display: none;
		}
		.header__logo-city {
			display: block;
		}
	}
}
.fp-viewing-section1 {
	.header__fix {
		opacity: 0;
		z-index: -1;
	}
}
.selection-city .city-list {
	background: rgba(1, 51, 78, 1);
}
.selection-city .man-list .city-list-item-link:before,
.selection-city .man-list-inner .city-list-item-link:before {
    display: none;
}
.selection-city .man-list-inner {
    //background: #F3F4F6;
	background: rgba(1, 51, 78, 1);
	width: 250px;
    height: 220px;
	
	a.city-list-item-link {
		color: #fff;
		line-height: 24px;
		font-size: 20px;
		margin-top: 15px;
	}
}
.header .header__menu {
    align-items: center;
}
.header__menu__item.selection-city {
	height: 75px;
	a {
		top: 26px;
		position: relative;
		margin-top: 0;
	}
}
.header__menu__item.selection-city .city-list.man-list .city-list-item-link:first-child {
	margin-top: 0;
}
.header__menu__item.selection-city .city-list.man-list {
	height: 150px;
}
.header__menu__item {
	.city-list {
		top: 75px;
		padding-left: 30px;
		padding-right: 30px;
		width: 236px;
		background: rgba(1, 51, 78, 1);
		
		a.city-list-item-link {
			color: #C9CED8!important;
		}
	}
}
.selection-city-really {
	.city-list {
		padding-left: 80px;
		height: 210px;
	}
}
@media only screen and (max-width : 1840px) {
	.main__contacts {
		width: 32%;
	}
	.main__about-title {
		font-size: 64px;
		letter-spacing: 7px;
	}
	.content-part {
		background-position-y: 0;
	}
}
@media only screen and (max-width : 1700px) {
	.main__contacts {
		width: 42%;
		padding: 106px 44px 48px 44px;
	}
	.main__about-title {
		line-height: 123px;
		font-size: 56px;
		letter-spacing: 2px;
	}
	.main__desc-title {
		font-size: 32px;
		margin-bottom: 42px;
	}
	.main__desc p {
		font-size: 14px;
		line-height: 22px;
	}
	.section__fourth {
		background-position-x: -100px;
	}
	.main__about .button__beclient {
		margin-bottom: 68px;
		padding-right: 26px;
	}
	.read-more-content {
		height: 100%;
		overflow-y: scroll;
	}
}
@media only screen and (max-width : 1440px) {
	.header {
		.header__logo {
			width: 30%;
		}
		.header__menu {
			width: 70%;
			max-width: 700px;
			.header__menu__item {
				a {
					font-size: 16px;
				}
			}
		}
	}
	
	.header__menu__item.selection-city a {
		top: 29px;
	}
	
	.content-part {
		background-position-y: 0;
	}
	
	.main__beclient-man {
		padding-top: 156px;
		padding-right: 52px;
		background-position-x: 80%;
	}
	.main__beclient-woman {
		padding-top: 156px;
		padding-left: 52px;
	}
	/* Section 3 */
	.main__grid-cell {
		img {
			/*width: auto;
			height: auto;
			max-width: 245%;
			min-height: auto;*/
		}
	}
	
	/* Section 4 */
	.section__fourth {
		background-size: cover;
		background-position-x: -100px;
	}
	.main__about {
		width: 33%;
		margin-left: 17%;
		padding: 168px 42px 30px 42px;
		.button__beclient {
			padding-left: 68px;
			padding-right: 40px;
			width: 100%;
			display: block;
			box-sizing: border-box;
		}
	}
	.main__about-title {
		line-height: 52px;
		font-size: 52px;
		margin-bottom: 58px;
	}
	.main__desc {
		padding: 168px 54px 30px 64px;
		p {
			font-weight: 300;
			line-height: 24px;
			font-size: 16px;
		}
	}
	.main__desc-title {
		font-size: 30px;
		margin-bottom: 26px;
	}
	
	.section__fifth {
		background-position-x: 50%;
	}
	.main__contacts {
		width: 50%;
		.button__border {
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}
	.main__contacts-title {
		line-height: 89px;
		font-size: 52px;
	}
	.header__logo-city {
		span {
			line-height: 40px;
			font-size: 38px;
		}
		img {
			height: 40px;
		}
	}
}
.main__hidden-big {
	display: none;
}
@media only screen and (max-width: 1366px) and (min-width: 1200px) and (max-height: 740px) and (min-height: 580px){

	.main-slider-bg {
		width: 732px;
		height: 120px;
	}
	.main-slider-bg .slick-slider .image-block-item {
		width: 136px;
		height: 136px;
	}
	.main-slider-bg .slick-slider {
		width: 728px;
		height: 118px;
	}
	.main-slider-bg .image-block:before {
		width: 138px;
		height: 138px;
	}
	.main-slider-desc {
		line-height: 20px;
		font-size: 14px;
	}
	.main-slider-desc .main-slider-img {
		height: 30px;
		img {
			height: 100%;
		}
	}
	.selection-city .city-list.man-list .city-list-item-link:nth-child(1),
	.selection-city .city-list.man-list .city-list-item-link:nth-child(2),
	.selection-city .city-list.man-list .city-list-item-link:nth-child(3),
	.selection-city .city-list.man-list .city-list-item-link:nth-child(4) {
		margin-top: 0px;
	}
}
@media only screen and (max-width: 1366px) and (max-height: 768px) {
	
	.side-panel .navigation-city .city {
		font-size: 24px;
		line-height: 34px;
	}
	.wrap-main {
		height: 100vh;
	}
	.content-sidebar {
		padding: 32px 41px 33px 38px;
	}
	.content-sidebar .content-sidebar-title {
		font-size: 32px;
		line-height: 43px;
	}
	.content-sidebar .content-sidebar-description {
		line-height: 23px;
		font-size: 16px;
		padding-top: 12px;
	}
	.content-sidebar {
		display: none;
	}
	.content-sidebar.main__hidden-big {
		display: block;
	}
	.content-part .dating-text {
		top: 229px;
		right: 41px;
	}
	.section__second .main__grid {
		height: 100vh;
	}
	.main__grid-col:nth-child(1) {
		width: 37.5%;
		
		.main__grid-cell:nth-child(1) {
			height: 58%;
		}
		.main__grid-cell:nth-child(2) {
			height: 42%;
		}
	}
	.main__grid-col:nth-child(2) {
		width: 25%;
		.main__grid-cell:nth-child(1) {
			height: 58%;
		}
		.main__grid-cell:nth-child(2) {
			height: 42%;
		}
	}
	.main__grid-col:nth-child(3) {
		width: 37.5%;
		.main__grid-cell:nth-child(1) {
			height: 42.5%;
			/*img {
				top: 50%;
				transform: translateY(-50%);
				position: relative;
			}*/
		}
		.main__grid-cell:nth-child(2) {
			height: 57.5%;
		}
	}
	.main__grid-cell img {
		/*width: auto;
		height: auto;
		max-width: 140%;
		min-height: auto;*/
	}
	
	.beclient__title {
		font-size: 68px;
		margin-bottom: 61px;
		span {
			font-size: 28px;
		}
	}
	.beclient__links {
		margin-bottom: 67px;
	}
	.section__fourth {
		background-size: 892px;
		background-position-x: -65px;
		background-position-y: 0px;
	}
	
	.main__contacts-title {
		margin-bottom: 0;
	}
	.main__contacts-item {
		padding: 18px 0;
	}
	.main__contacts {
		width: 35%;
		padding-top: 86px;
		.button__border {
			font-size: 16px;
			padding: 8px 31px;
		}
		.main__contactsrow-img img {
			height: 31px;
			width: 31px;
		}
		.main__contactsrow-soc {
			.main__contactsrow-img img {
				height: 23px;
				width: 23px;
			}
		}
	}
	.main__contactsrow-info {
		font-size: 16px;
		line-height: 23px;
	}
	.main__contactsrow-info div:last-child,
	.main__contactsrow-info div:first-child {
		margin-bottom: 0;
	}
	.main__contactsrow:last-child {
		margin-bottom: 0;
	}
	.main__contacts-subtitle {
		margin-bottom: 10px;
	}
	.main__contactsrow-soc:last-child {
		margin-bottom: 15px;
	}
	.content-part .start-date {
		margin-right: 80px;
	}
	.main__about {
		width: 27%;
		margin-left: 20%;
	}
	.main__about .button__beclient {
		padding-left: 60px;
		padding-right: 30px;
	}
	.main__desc {
		width: 55.5%;
	}
	.main__desc p {
		line-height: 20px;
		font-size: 16px;
	}
	.button__beclient-man:after {
		left: 7px;
		top: -26px;
	}
	.selection-city-really .city-list {
		height: 210px;
	}
	
	.main-slider-bg .image-block:before {
		width: 130px;
		height: 140px;
	}
	.main-slider-img {
		height: 36px;
		img {
			height: 100%;
		}
	}
}
@media only screen and (max-width: 1366px) and (max-height: 660px) {
	.content-sidebar .content-sidebar-title {
		font-size: 26px;
		line-height: 28px;
	}
	.content-sidebar .content-sidebar-description {
		line-height: 20px;
		font-size: 14px;
		padding-top: 10px;
		padding-bottom: 12px;
	}
	.section__second {
		height: auto;
	}
	.beclient__title {
		font-size: 58px;
		margin-bottom: 34px;
		span {
			font-size: 22px;
		}
	}
	.beclient__item {
		margin-bottom: 20px;
		a {
			font-size: 22px;
		}
	}
	.main__about {
		padding-top: 120px;
	}
	.main__desc {
		padding-top: 120px;
		
		p {
			line-height: 16px;
			font-size: 12px;
		}
	}
	.main__contacts {
		padding-top: 58px;
		.button__border {
			font-size: 12px;
			padding: 8px 30px;
		}
	}
	.main__contacts-title {
		line-height: 70px;
		font-size: 40px;
	}
	.main__contactsrow-info {
		font-size: 12px;
		line-height: 18px;
	}
	.main__contacts-item {
		padding: 12px 0;
	}
	.main__contacts-subtitle {
		line-height: 20px;
		font-size: 14px;
	}
	.main__contactsrow {
		margin-bottom: 14px;
	}
	.main__contacts-phone {
		line-height: 30px;
		font-size: 20px;
	}
	.main__contacts-name {
		line-height: 20px;
		font-size: 14px;
	}
	
	/* SHIT */
	/*.main__grid-cell img {
		width: 100%;
		min-height: auto;
		min-width: auto;
		height: auto;
		min-height: auto;
		min-width: auto;
		max-width: none;
		max-height: none;
	}*/
	.read-more-content {
		height: 100%;
		overflow-y: scroll;
	}
	.selection-city-really .city-list {
		height: 210px;
	}
	.main__desc p {
		line-height: 20px;
		font-size: 16px;
	}
}
@media only screen and (max-width : 1024px) {
	.main__hidden-big {
		display: none!important;
	}
	.fp-tableCell {
		display: block!important;
	}
	.header__menu__item {
		display: none;
	}
	.header__button,
	.header__slogan,
	.header__menu__item:last-child {
		display: block;
	}
	.header__slogan {
		font-family: Rage Italic LET;
		line-height: normal;
		font-size: 20px;
		color: $white;
		width: calc(40% - 35px);
		padding-left: 30px;
		padding-top: 10px;
	}
	.header {
		justify-content: flex-start;
		.header__logo {
			width: 36%;
			padding-left: 25px;
		}
		.header__menu {
			width: 24%;
			justify-content: flex-end;
			padding-right: 0;
			padding-left: 0;
		}
		.header__button {
			width: 30px;
			height: 23px;
			background: url("../img/menu-btn.svg") no-repeat;
			background-size: cover;
		}
	}
	.top-header {
		display: none;
	}
	.content-part {
	    background-position-y: -30px;
		background-position-x: -90px;
		.header {
			display: flex;
		}
		.start-date {
			display: none;
		}
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: linear-gradient(9.34deg, #033953 12.71%, rgba(3, 57, 83, 0) 54.95%);
		}
	}
	/* Section 1 */
	.main-slider-bg {
		display: none;
	}
	.content-part {
		width: 100%;
		background-size: 120%;
		
		.dating-text {
			bottom: 320px;
			left: 38px;
			top: auto;
		}
	}
	.side-panel {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		background: transparent;
		z-index: 2;
		.top-logo {
			display: none;
		}
		.content-sidebar,
		.navigation-city {
			background: transparent;
		}
		.content-sidebar {
			padding-top: 0;
			padding-left: 38px;
		}
		.content-sidebar-title {
			line-height: 38px;
			font-size: 28px;
		}
		.content-sidebar .content-sidebar-description {
			line-height: 26px;
			font-size: 18.0478px;
			padding-top: 12px;
		}
		.navigation-city {
			.city {
				font-weight: normal;
				line-height: 34px;
				font-size: 24px;
			}
		}
	}
	.content-sidebar {
		display: none;
	}
	/* Section 2 */
	.main__grid {
		display: block;
	}
	.main__grid-col:nth-child(1),
	.main__grid-col:nth-child(2),
	.main__grid-col:nth-child(3),
	.main__grid-col {
		width: 100%;
		height: 33.3333%;
		display: flex;
		.main__grid-cell {
			width: 50%;
			height: 100%!important;
			
			img {
				width: 100%;
				min-height: auto;
				max-width: none;
				height: auto;
			}
		}
		.main__grid-cell + .main__grid-cell {
			border: 1px solid $white;
		}
		.main__grid-cell {
			border: 1px solid $white;
		}
	}
	.main__grid-col + .main__grid-col {
		border: 0;
	}
	
	.active .main__grid-animate {
		.main__grid-cell + .main__grid-cell:after {
			display: none;
		}
		.main__grid-col + .main__grid-col:after {
			display: none;
		}
	}
	/* Section 3 */
	.section__third {
		.row {
			display: block;
		}
	}
	.main__beclient {
		width: 100%;
		height: 50vh;
		padding: 72px 74px 0;
		text-align: left;
	}
	.beclient__title {
		font-size: 50px;
		margin-bottom: 32px;
		
		span {
			font-size: 20px;
			margin-bottom: 5px;
		}
	}
	.beclient__links {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-flow: wrap;
		flex-direction: row;
	}
	.beclient__item {
		margin-bottom: 30px;
		flex: 50%;
		a {
			font-size: 24px;
		}
	}
	/* Section 4 */
	.section__fourth {
		.row {
			display: block;
			position: relative;
			z-index: 2;
		}
		background-size: cover;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(270deg, #314A5D 0%, rgba(49, 74, 93, 0.35) 267.39%);
			top: 0;
			left: 0;
			position: absolute;
			z-index: 1;
		}
	}
	.main__about {
		width: 100%;
		margin-left: 0;
		height: auto;
		padding: 0 35px;
		background: transparent;
		padding-top: 120px;
		
		.button__beclient {
			padding: 20px 34px;
			font-size: 16px;
			color: #304C60;
			margin-bottom: 35px;
		}
	}
	.main__desc {
		width: 100%;
		height: auto;
		padding: 0 35px;
		background: transparent;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		padding-top: 32px;
		//display: none;
	}
	.main__about-title {
		line-height: 72px;
		font-size: 42px;
		margin-bottom: 24px;
		letter-spacing: 3px;
	}
	.button__beclient + .button__beclient {
		margin-left: 80px;
	}
	.main__about-buttons {
		max-width: none;
	}
	.main__about .button__beclient {
		width: auto;
		display: inline-block;
		box-sizing: border-box;
		padding-left: 60px;
	}
	/* Section 5 */
	.section__fifth {
		background-position-x: 38%;
		background-size: cover;
	}
	.main__contacts {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 70%;
		padding: 90px 67px 48px 60px;
		background: #033953;
		color: #fff;
	}
	.main__contacts-title {
		line-height: 72px;
		font-size: 42px;
	}
	.main__contacts-phone {
		line-height: 34px;
		font-size: 24px;
	}
	.main__contactsrow {
		line-height: 23px;
		font-size: 16px;
	}
	.main__contactsrow-btn {
		width: 38%;
		
		.button__border {
			text-align: center;
			padding: 10px 0px;
		}
	}
	.main__hidden {
		display: block;
	}
	
	.read-more-content .read-more-text {
		font-size: 16px;
		padding: 48px 35px 0px 35px;
	}
	.read-more-popup {
		height: 100%;
		overflow: hidden;
	}
	.read-more-content {
		height: 100%;
		overflow-y: scroll;
	}
	.main__desc-wrapper {
		max-height: 60vh;
	}
	
}
@media only screen and (max-width : 768px) and (max-height : 1024px) {
	.beclient__links {
		display: flex;
	}
	.main__beclient {
		padding-top: 100px;
	}
	.beclient__links {
		margin-bottom: 30px;
	}
	.beclient__item {
		flex: 50%;
	}
	.header__logo-city span {
		font-size: 28px;
		padding-left: 22px;
	}
	.content-part .dating-text {
		bottom: 295px;
		left: 38px;
		width: 50%;
	}
}
@media only screen and (max-width : 767px) {
	.main__hidden-big {
		display: none!important;
	}
	.fp-tableCell {
		display: block;
	}
	.header {
		height: 68px;
		.header__slogan {
			display: none;
		}
		.header__logo {
			width: calc(80% - 30px);
			padding-left: 18px;
			
			img {
				width: 100%;
				max-width: 380px;
			}
		}
		.header__logo-city {
		
			span {
				line-height: 23px;
				font-size: 23px;
			}
			img {
				width: 42px;
			}
		}
		.header__menu {
			width: 20%;
			justify-content: flex-end;
			padding-right: 0;
			padding-left: 0;
			
			.header__menu__item a {
				font-size: 16px;
			}
		}
		.header .header__button {
			width: 26px;
			height: 20px;
		}
	}
	.login-popup {
		top: 0;
	}
	/* Section 1 */
	.content-sidebar {
		display: none;
		.content-sidebar-title {
			line-height: 29px;
			font-size: 22px;
		}
	}
	.content-part  {
		background-size: cover;
		.dating-text {
			bottom: 460px;
			top: auto;
			left: 38px;
			background-size: 165%;
			width: 300px;
			height: 143px;
			background-position-x: -82px;
			background-position-y: -79px;
		}
	}
	
	.read-more-sidebar {
		display: none;
	}
	.read-more-content {
		width: 100%;
	}
	.read-more-content .read-more-text {
		font-size: 16px;
		padding: 48px 82px 0px 82px;
	}
	.read-more-content .read-more-title {
		padding: 48px 82px 0px 82px;
	}
	
	.main__beclient {
		padding: 60px 35px 0;
	}
	.beclient__title {
		font-size: 42px;
		margin-bottom: 16px;
		
		span {
			font-size: 18px;
			line-height: 18px;
		}
	}
	.beclient__item {
		margin-bottom: 18px;
		flex: auto;
		width: 100%;
		a {
			font-size: 18px;
		}
	}
	.beclient__links {
		display: block;
		margin-bottom: 24px;
	}
	.button__beclient {
		padding: 16px 30px 16px 54px;
	}
	.main__beclient-man {
		padding-top: 78px;
	}
	.button__beclient-woman:after {
		left: 0px;
		right: auto;
	}
	/* Section 4 */
	.main__about-buttons {
		display: none;
	}
	.section__fourth {
		/*background: url('../img/index-4-bg-small.jpg') no-repeat;
		background-size: 150%;*/
		background: transparent;
	}
	.section__fourth:before {
		display: none;
	}
	.main__about {
		height: 30vh;
		position: relative;
		margin-top: 0;
		background: url('../img/index-4-bg-small.jpg') no-repeat;
		background-size: cover;
	}
	.main__about-title {
		line-height: 55px;
		font-size: 32px;
		margin-bottom: 0;
		position: absolute;
		left: 35px;
		bottom: 70px;
		width: 100%;
	}
	.main__desc {
		//display: none;
		background: #314A5D;
		height: 70vh;
		border-top: 0;
		
		
		p {
			font-weight: 300;
			line-height: 21px;
			font-size: 14px;
			color: $white;
		}
	}
	.main__desc-title {
		font-weight: bold;
		line-height: normal;
		font-size: 24px;
		margin-bottom: 10px;
	}
	/* Section 5 */
	.main__contacts {
		width: 100%;
		padding: 80px 46px 15px 46px;
	}
	.main__contactsrow-img {
		width: 30px;
		img {
			width: 100%;
		}
	}
	.main__contactsrow-info div:first-child {
		margin-bottom: 0;
	}
	
	.main__hidden {
		display: block;
	}
	.main__grid-cell img {
		width: auto!important;
		height: auto!important;
		min-height: 100%!important;
		max-height: 200%!important;
		min-width: 100%!important;
		max-width: 200%!important;
	}
	.main__desc-wrapper {
		max-height: 100%;
	}
	.login-popup:before {
		background-size: cover;
		width: 32px;
		height: 92px;
	}
	.login-popup {
		width: 100%;
		height: 100%;
		.login-title {
			font-size: 24px!important;
			line-height: 24px!important;
			padding: 60px 30px 24px 60px!important;
		}
		.login-form,
		.login-comment {
			padding-left: 30px;
			padding-right: 30px;
		}
		.login-form .form-input .form-login-text {
			font-size: 14px;
			height: 38px;
			margin-bottom: 15px;
			width: 100%;
			margin-left: 0;
			box-sizing: border-box;
		}
		.login-form .login-button {
			padding: 14px 0 12px 0;
			font-size: 16px;
			text-align: center;
			width: 200px;
		}
		.login-form .registration-button {
			padding: 14px 0;
			font-size: 16px;
			width: 200px;
			text-align: center;
		}
		.login-form .form-checkbox-text {
			font-size: 14px;
		}
		.login-popup .login-comment {
			font-size: 16px;
			line-height: 16px;
		}
		.close-login {
			background: url(../img/close-read-more.svg) no-repeat;
			background-size: cover;
			width: 24px;
			height: 24px;
			
			img {
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width : 480px) {
	.main__desc {
		height: 100vh;
	}
	.main__about {
		padding-top: 25vh;
	}
	.main__about-title {
		bottom: 20px;
	}
	.content-part .dating-text {
		left: 25px!important;
		right: auto!important;
	}
}
@media only screen and (max-width : 420px) {
	.header .header__button {
		width: 24px;
		height: 20px;
	}
	.header .header__logo-city img {
		width: 32px;
		vertical-align: middle;
	}
	.header .header__logo-city span {
		line-height: 32px;
		font-size: 16px;
		padding-left: 12px;
		vertical-align: middle;
	}
	/* Section 1 */
	.side-panel .navigation-city .city:nth-child(1),
	.side-panel .navigation-city .city:nth-child(2),
	.side-panel .navigation-city .city:nth-child(3) {
		margin-top: 16px;
	}
	.side-panel .navigation-city .city:first-child:before,
	.side-panel .navigation-city .city:nth-child(2):before,
	.side-panel .navigation-city .city:last-child:before {
		width: 40px;
		height: 40px;
		left: -62px;
		top: -2px;
	}
	.content-sidebar .content-sidebar-title {
		line-height: 24px;
		font-size: 20px;
	}
	.side-panel .content-sidebar .content-sidebar-description {
		line-height: 18px;
		font-size: 14.0478px;
		padding-top: 12px;
		padding-bottom: 10px;
	}
	.side-panel .navigation-city .city {
		line-height: 30px;
		font-size: 20px;
	}
	.content-sidebar {
		padding-bottom: 20px;
	}
	.content-part .dating-text {
		bottom: 348px;
		top: auto;
		left: 38px;
		background-size: 165%;
		width: 230px;
		height: 120px;
		background-position-x: -63px;
		background-position-y: -61px;
	}
	/* Section 2 */
	.main__grid-cell img {
		width: auto!important;
		height: auto!important;
		min-height: 100%!important;
		max-height: 200%!important;
		min-width: 100%!important;
		max-width: 200%!important;
	}
	.main__hidden {
		display: block;
	}
	/* Section 3 */
	.beclient__title {
		font-size: 26px;
		margin-bottom: 12px;
	}
	.beclient__title span {
		font-size: 12px;
		line-height: 6px;
	}
	.beclient__item a {
		font-size: 14px;
	}
	.beclient__item {
		margin-bottom: 6px;
	}
	.button__beclient {
		padding: 12px 30px 12px 36px;
	}
	.button__beclient-man:after {
		background-size: cover;
		left: 4px;
		top: -17px;
		width: 24px;
		height: 68px;
	}
	.button__beclient-woman:after {
		background-size: cover;
		width: 42px;
		height: 38px;
		top: 5px;
	}
	/* Section 4 */
	.main__about {
		margin-top: 0px;
	}
	.main__desc {
		padding-top: 20px;
		position: relative;
		top: -1px;
		left: 0;
	}
	.main__desc-title {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.main__desc p {
		line-height: 18px;
		font-size: 12px;
	}
	.main__about-title {
		bottom: 35px;
	}
	/* Section 5 */
	.main__contacts-title {
		line-height: 30px;
		font-size: 28px;
	}
	.main__contacts-phone {
		line-height: 24px;
		font-size: 18px;
	}
	.main__contacts-name {
		line-height: 20px;
		font-size: 14px;
	}
	
	.read-more-content .read-more-text {
		padding: 36px 35px 0px 35px;
		font-size: 16px;
		line-height: 24px;
	}
	.read-more-content .read-more-title {
		padding: 48px 35px 0px 35px;
	}
	.read-more-content .read-more-accentuation {
		font-size: 16px;
		padding: 34px 35px 0px 35px;
	}
	.header {
		padding-left: 25px;
		padding-right: 25px;
	}
	.side-panel .content-sidebar {
		padding-right: 25px;
		padding-left: 25px;
	}
	.side-panel .navigation-city {
		padding-left: 86px;
	}
	.content-part .dating-text {
		left: 25px;
	}
}
@media only screen and (max-width : 1024px) and (max-height: 1366px){
	.content-part {
		background-size: cover;
		background-position-y: 0px;
		background-position-x: 0px;
	}
	.main__grid-col:nth-child(1) .main__grid-cell img, .main__grid-col:nth-child(2) .main__grid-cell img, .main__grid-col:nth-child(3) .main__grid-cell img, .main__grid-col .main__grid-cell img {
		width: 135%;
		min-height: auto;
		max-width: none;
		min-height: 100%;
		height: auto;
	}
}
@media only screen and (max-width : 1024px) and (max-height: 900px){
	.main__contacts-title {
		line-height: 26px;
		font-size: 26px;
	}
	.main__contacts-phone {
		line-height: 14px;
		font-size: 14px;
	}
	.main__contacts-subtitle {
		line-height: 14px;
		font-size: 12px;
		margin-bottom: 10px;
	}
	.main__contacts-title {
		margin-bottom: 15px;
	}
	.main__contactsrow {
		line-height: 16px;
		font-size: 12px;
	}
	.button__border {
		font-size: 12px;
		padding: 6px 0;
	}
	.main__contacts-name {
		line-height: 18px;
		font-size: 14px;
	}
	.main__contacts-item {
		padding: 18px 0;
	}
	.main__contactsrow-img {
		width: 34px;
		img {
			width: 100%;
		}
	}
	.main__contactsrow-info div:first-child {
		margin-bottom: 4px;
	}
	.main__contactsrow-soc .main__contactsrow-img {
		width: 20px;
	}
}
@media only screen and (max-width : 1024px) and (max-height: 722px){
	.section__second .main__grid {
		height: 100vh;
	}
	.beclient__title {
		font-size: 34px;
		margin-bottom: 20px;
		
		span {
		    font-size: 18px;
			margin-bottom: 5px;
		}
	}
	.beclient__item {
		margin-bottom: 8px;
		
		a {
			font-size: 16px;
		}
	}
	.beclient__links {
		margin-bottom: 20px;
	}
	.main__contacts {
		padding-top: 75px;
	}
	.content-part .dating-text {
		left: auto;
		right: 35px;
	}
	
	.login-form .form-input .form-login-text {
		font-size: 14px;
		height: 45px;
		margin-bottom: 24px;
	}
	.login-popup .login-title {
		font-size: 30px;
		line-height: 30px;
		padding: 82px 82px 24px 133px;
	}
}
@media only screen and (max-height: 767px) and (min-height: 400px) and (max-width: 1000px) {
	// .wrap-main {
		// height: 100%;
	// }
	.section__second  {
		height: 900px!important;
		
		.fp-tableCell {
			height: 900px!important;
		}
		.main__grid {
			height: 900px;
		}
	}
	.main__desc {
		//height: 100%;
	}
	.main__about {
		height: auto;
	}
	.section__fifth {
		height: 1000px!important;
		
		.fp-tableCell {
			height: 1000px!important;
		}
	}
}

@media only screen and (max-width : 360px) and (max-height: 640px){
	.section__second .fp-tableCell {
		height: 100vh !important;
	}
	.section__second {
		height: 100vh !important;
	}
	.section__second .main__grid {
		height: 100vh;
	}
	.main__about {
		height: 30vh;
	}
	.main__desc {
		height: 70vh;
	}
	.main__contacts {
		padding: 80px 35px 15px 35px;
		.main__contacts .button__border {
			font-size: 13px;
		}
	}
	.main__contactsrow-info {
		font-size: 12px;
		line-height: 18px;
	}
	
	.read-more-text:last-child {
		padding-bottom: 30px;
	}
	.read-more-content .read-more-title {
		font-size: 20px;
	}
	.read-more-content {
		.close-read-more {
			top: 15px;
			right: 15px;
			width: 24px;
			height: 24px;
			img {
				width: 100%;
			}
		}
	}
	
	.content-part .dating-text {
		background-image: url("../img/main-1-text.png");
	    background-size: 100%;
		background-position: 0 0;
		bottom: 268px;
	}
	.side-panel .navigation-city .city {
		font-size: 16px;
	}
	.side-panel .content-sidebar .content-sidebar-description {
		line-height: 16px;
		font-size: 12px;
	}
	.content-sidebar .content-sidebar-title {
		line-height: 22px;
		font-size: 18px;
	}
}
/*@media only screen and (max-height: 900px) and (min-height: 400px) and (max-width: 768px) {
	.wrap-main {
		height: 100%;
	}
	.section__second  {
		height: 700px!important;
		
		.fp-tableCell {
			height: 700px!important;
		}
		.main__grid {
			height: 700px;
		}
	}
	.main__desc {
		height: 500px;
	}
	.main__about {
		height: auto;
	}
	.section__fourth {
		height: 600px!important;
		
		.fp-tableCell {
			height: 600px!important;
		}
	}
	.section__fifth {
		height: 600px!important;
		
		.fp-tableCell {
			height: 600px!important;
		}
	}
	.main__about-title {
		top: 50%;
		transform: translateY(-50%);
		bottom: auto;
	}
	.main__contacts {
		padding-top: 20px;
	}
}*/
@media only screen and (max-height: 400px){
	.fp-tableCell,
	.section {
		height: 660px!important;
	}
	.wrap-main {
		height: 100%;
	}	
	.side-panel .navigation-city .city {
		line-height: 32px;
		font-size: 20px;
	}
	.side-panel .navigation-city .city:before {
		width: 42px!important;
		height: 42px!important;
		left: -62px;
		top: -2px;
	}
	.side-panel .navigation-city .city {
		margin-top: 24px!important;
	}
	.content-part .dating-text {
		bottom: 350px;
		background-size: 128%;
		width: 231px;
		height: 106px;
		background-position-x: -48px;
		background-position-y: -45px;
	}
	
	
	.main__grid {
		height: 100%;
	}
	.main__beclient {
		height: 50%;
	}
	.main__about {
		height: 30%;
	}
	.main__desc {
		height: 70%;
	}
	.main__about-title {
		position: static;
	}
	
	.beclient__links {
		display: flex;
	}
	.beclient__item {
		flex: 50%;
	}
	.section__third .row {
		height: 100%;
	}
	
	.section__fourth {
		background-size: 100%;
	}
	.section__fourth .row {
		height: 100%;
	}
	.main__about-title {
		padding-top: 106px;
	}
	
}




@media only screen and (max-width: 370px) and (max-height: 570px) {
	.main__beclient {
		left: 0;
		height: 380px;
	}
	.section__third {
		height: 760px!important;
		.fp-tableCell {
			height: 760px!important;
		}
	}
	.section__fourth {
		height: 668px!important;
		.fp-tableCell {
			height: 668px!important;
		}
		.main__desc {
			height: 500px;
		}
		.main__about {
			height: 170px;
		}
	}
	.main__contacts {
		height: auto;
		padding-top: 35px;
	}
	.section__fifth {
		height: 600px !important;
		.fp-tableCell {
			height: 600px !important;
		}
	}
	.login-popup {
		position: fixed;
		top: 0;
		left: 0;
	}
	.login-popup .login-title {
		padding: 35px 30px 24px 60px !important;
	}
	.login-popup .login-comment {
		font-size: 14px;
	}
}