body {
	position: relative;
}

.side {
	height: 100vh;
}
.side-left {
	width: 40%;
	background: url("../img/for_man-man.jpg") no-repeat;
	background-size: cover;
	padding: 35px;
}
.side-right {
	width: 60%;
	padding: 30px;
	
	.side__title {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: normal;
		margin-bottom: 28px;
		color: #314A5D;
	}
	p {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 28px;
		color: #314A5D;
	}
}
.forman__title {
	font-family: Georgia;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 89px;
	color: #fff;
}

.forman__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	
	li {
		position: relative;
		margin-bottom: 34px;
		padding-left: 24px;
	}
	li:last-child {
		margin-bottom: 0;
	}
	li:before {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 7px;
		height: 12px;
		background: url("../img/for_man-arrow.svg") no-repeat;
		background-size: cover;
		top: 50%;
		transform: translateY(-50%);
		transition: all 200ms ease-in;
	}
	li:hover:before {
		left: 5px;
	}
	a {
		font-family: Gotham Pro;
		font-size: 16px;
		line-height: 24px;
		color: #314A5D;
		text-decoration: none;
		font-weight: normal;
	}
}
.forman__list-white {
	margin-top: 160px;
	margin-bottom: 58px;
	a {
		color: #fff;
	}
}
.button__beclient-forman {
	font-size: 16px;
	padding: 16px 32px 16px 40px;
}
.button__beclient-forman.button__beclient-woman:after {
	left: 0;
    right: auto;
    top: -4px;
}
.side-woman {
	background-image: url("../img/for_man-woman.jpg");
}
.side-target {
	background-image: url("../img/target-bg.jpg");
}

.side__photos {
	//justify-content: space-between;
	margin-bottom: 28px;
	margin-left: -7px;
	margin-right: -7px;
	display: flex;
}
.side__photos-item {
	position: relative;
	margin: 0 7px;
	//width: calc(20% - 16px);
	//height: auto;
	
	img {
		width: 100%;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		padding: 13px;
		padding-right: 20px;
		width: 100%;
		height: 100%;
		font-family: Gotham Pro;
		font-size: 16px;
		line-height: 21px;
		color: #FFFFFF;
		box-sizing: border-box;
	}
}

.detail__page {
	width: 100%;
	height: 100vh;
}
.side-detail {
	background: transparent;
	height: 100%;
	width: 42.3%;
	overflow: hidden;
	position: relative;
	padding-bottom: 0;
	img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: auto;
	}
	&:before {
		width: calc(100% - 35px);
		height: 1px;
		position: absolute;
		top: 78px;
		right: 0;
		background: #fff;
		display: block;
		content: "";
		z-index: 10;
		opacity: .5;
	}
}
.side-detail-right {
	padding-left: 76px;
    padding-right: 24px;
    width: 57.7%;
    padding-top: 80px;
	padding-bottom: 0;
	height: 100%;
    overflow-y: scroll;
	position: relative;
}

.detail__info {
	margin-bottom: 18px;
}
.detail__photos {

    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
	
	.detail__photos-item {
		width: 240px;
		height: 240px;
		overflow: hidden;
		margin-bottom: 8px;
		
		img {
			width: 100%;
		}
	}
}
.detail__main {
	width: 50%;
	.detail__main-city {
		margin-bottom: 7px;
	}
	.detail__main-name {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: normal;
		color: #314A5D;
		margin-bottom: 11px;
		
		span {
			font-family: Gotham Pro;
			font-style: normal;
			font-weight: 300;
			font-size: 28px;
			line-height: normal;
			padding-left: 64px;
			color: #314A5D;
		}
	}
	.button__border {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: normal;
		color: #314A5D;
		padding: 8px 26px;
		border: 1px solid #314A5D;
		text-decoration: none;
		display: inline-block;
		&:visited,
		&:hover,
		&:focus,
		&:active {
			color: #314A5D;
		}
	}
}
.detail__links {
	width: 50%;
	text-align: right;
	
	a {
		display: block;
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: normal;
		margin-bottom: 12px;
		color: #314A5D;
		text-decoration: none;
	}
	.link__cabinet {
		padding-top: 36px;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 26px;
		
		svg {
			padding-right: 20px;
		}
	}
}
.fancybox-navigation .fancybox-button.gallery__button {
	background: url("../img/fancy-left.svg") no-repeat;
	background-size: cover;
	width: 25px;
	height: 82px;
	padding: 0;
	opacity: 1;
	left: 100px;
}
.fancybox-navigation .fancybox-button.gallery__button.fancybox-button--arrow_right {
	background: url("../img/fancy-right.svg") no-repeat;
	left: auto;
	right: 100px;
}
.fancybox-is-open .fancybox-bg {
	opacity: 1;
	background: rgba(3, 57, 83, 0.82);
}
.fancybox-active .side {
	filter: blur(20px);
}

.popup {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 42.3%;
	background: linear-gradient(0deg, rgba(3, 57, 83, 0.65), rgba(3, 57, 83, 0.65));
	color: #fff;
	padding: 15px;
	display: none;
}
.popup__close {
	//width: 21px;
	//height: 21px;
	background: url("../img/detail-close.svg") no-repeat;
	background-position: center;
	background-size: cover;
	transition: all 300ms ease-in;
	position: absolute;
	//right: 0;
	//top: 0;
	width: 44px;
	height: 44px;
	right: 23px;
    top: 108px;
	
	&:hover {
		transform: rotate(90deg);
	}
}
.popup__detail {
	font-family: Gotham Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
	color: #FFFFFF;
	padding: 190px 84px 10px 110px;
	height: 100%;
	width: 42.3%;
	z-index: 20;
}
.detail__name {
	font-weight: bold;
	font-size: 33px;
	margin-bottom: 20px;
}
.detail__params {
	margin-bottom: 24px;
	.detail__params-line {
		padding: 10px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		justify-content: space-between;
		
		div:first-child {
			width: 27%;
		}
		div:last-child {
			text-align: left;
			width: 73%;
			padding-left: 50px;
		}
	}
}
.detail__address {
	justify-content: flex-start;
	margin-bottom: 19px;
	
	.detail__address-area {
		position: relative;
		padding-left: 30px;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: -3px;
			width: 17px;
			height: 21px;
			background: url("../img/detail-point.svg") no-repeat;
			background-size: cover;
		}
	}
	.detail__address-metro {
		position: relative;
		padding-left: 38px;
		margin-left: 14px;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: -2px;
			width: 25px;
			height: 21px;
			background: url("../img/detail-metro.svg") no-repeat;
			background-size: cover;
		}
	}
}
.detail__about-title {
	font-weight: bold;
	margin-bottom: 15px;
}
.beclient__desc {
	color: #fff;
	position: absolute;
	width: 48%;
	height: 100%;
	top: 0;
	right: 0;
	padding: 288px 41px 15px 48px;
	font-family: Gotham Pro;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}
.main__contacts-beclient {
	position: absolute;
	left: 43px;
	width: 860px;
	font-size: 70px;
	top: 183px;
}
.header-inner-fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	box-sizing: border-box;
}
.header-inner-blue {
	background: linear-gradient(270deg, #284770 4.8%, rgba(40, 71, 112, 0) 112.96%);
	background-blend-mode: multiply;
	
	.header-inner-text {
		display: none;
	}
	.header-inner-menu .header-inner-menu-item .header-inner-menu-link {
		color: #fff;
	}
	.logo-inner .header-logo-inner {
		background-image: url('../img/logo-main.svg');
	}
}

.beclient__contacts {
	padding-top: 288px;
	.main__contacts-item {
		padding: 15px 0;
	}
	.main__contacts-item:first-child {
		padding-top: 0;
	}
	.main__contactsrow-img {
		width: 40px;
		height: 40px;
		img {
			width: 100%;
		}
	}
	.main__contactsrow-soc {
		.main__contactsrow-img {
			width: 24px;
			height: 24px;
			img {
				width: 100%;
			}
		}
	}
	.button__border {
		padding: 9px 40px;
	}
	.main__contacts-subtitle {
		margin-bottom: 14px;
	}
	.main__contactsrow-info div:first-child {
		margin-bottom: 6px;
	}
}



.header-inner-detail {
	background: transparent;
	
	.header-inner-text {
		color: #fff;
	}
	.logo-inner .header-logo-inner {
		background-image: url('../img/logo-main.svg');
	}
	
	&:before {
		display: block;
		content: "";
		width: 57.7%;
		height: 78px;
		position: absolute;
		right: 0;
		top: 0;
		background: #fff;
		z-index: -1;
	}
}

.nice-select {
    border: 1px solid #B7C0C9;
	float: none;
	width: 100%;
	border-radius: 0;
	color: #314A5D;
	font-family: Gotham Pro;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: normal;
	padding: 20px;
	height: auto;
}
.nice-select:after {
    border: 0;
	background: url("../img/select-ico.svg") no-repeat;
	width: 12px;
	height: 9px;
	transform: rotate(0);
	margin-top: 0;
	right: 16px;
	transform-origin: 50% 50%;
}
.nice-select.open:after {
    transform: rotate(-180deg);
}
.nice-select.open .list {
	width: 100%;
	border-radius: 0;
}

.popup__comment {
	right: 0;
	top: 0;
	left: auto;
	width: 50%;
	height: 100%;
	padding: 48px 41px 10px 64px;
	background: #fff;
	z-index: 10;
	color: #314A5D;
	
	&:before {
		background: rgba(25, 49, 71, 0.6);
		backdrop-filter: blur(30px);
		display: block;
		content: "";
		position: absolute;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	
	.input__textarea {
		display: block;
		width: 100%;
		border: 1px solid #B7C0C9;
		box-sizing: border-box;
		color: #314A5D;
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: normal;
		padding: 20px;
		outline: 0;
		background: transparent;
		margin-bottom: 22px;
		height: 138px;
		min-height: 138px;
		max-height: 220px;
		max-width: 100%;
		min-width: 100%;
	}
	
	.input__submit {
		background: #DC143C;
		display: inline-block;
		border: 0;
		outline: 0;
		font-family: Gotham Pro;
		font-size: 18px;
		line-height: normal;
		padding: 21px 53px;
		color: #FFFFFF;
		cursor: pointer;
		transition: all 300ms ease-in;
		
		&:hover {
			background: #314A5D;
		}
	}
	
	.popup__girl-info {
		padding-left: 28px;
		margin-bottom: 22px;
	}
	
	.popup__girl-name {
		font-family: Gotham Pro;
		font-size: 22px;
		line-height: normal;
		margin-bottom: 12px;
	}
	.popup__girl-id {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: normal;
		margin-bottom: 14px;
		color: #314A5D;

	}
	.popup__girl-city {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: normal;
		margin-bottom: 12px;
		color: #314A5D;

		img {
			display: block;
			margin-bottom: 16px;
		}
	}
	.popup__girl-params {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 20px;
		color: #314A5D;
	
		p {
			margin-bottom: 12px;
			margin-top: 0;
		}
	}
	.popup__close {
		background-image: url('../img/detail-close-blue.svg');
		width: 21px;
		height: 21px;
		right: 17px;
		top: 17px;
	}
}

.popup__search {
	right: 0;
	top: 0;
	left: auto;
	width: 50%;
	height: 100%;
	padding: 48px 41px 10px 64px;
	background: #fff;
	z-index: 10;
	
	&:before {
		background: rgba(25, 49, 71, 0.6);
		backdrop-filter: blur(30px);
		display: block;
		content: "";
		position: absolute;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	
	.popup__title {
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 52px;
		line-height: 89px;
		color: #314A5D;
		margin-bottom: 30px;
	}
	
	.input__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 26px;
	}
	
	.input__col {
		width: calc(50% - 21px);
		
		& > label {
			font-family: Gotham Pro;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: normal;
			margin-bottom: 15px;
			color: #314A5D;
			display: inline-block;
		}
	}
	.input__col-full {
		width: 100%;
	}
	.input__col-slider {
		position: relative;
		width: calc(50% - 10px);
	}
	.input__bar {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: red;
	}
	
	.input__text:disabled,
	.input__text {
		display: block;
		width: 100%;
		border: 1px solid #B7C0C9;
		box-sizing: border-box;
		color: #314A5D;
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: normal;
		padding: 20px;
		outline: 0;
		background: transparent;
	}
	
	.input__submit {
		background: #DC143C;
		display: inline-block;
		border: 0;
		outline: 0;
		font-family: Gotham Pro;
		font-size: 18px;
		line-height: normal;
		padding: 21px 53px;
		color: #FFFFFF;
		cursor: pointer;
		transition: all 300ms ease-in;
		
		&:hover {
			background: #314A5D;
		}
	}
	
	.label-cbx {
	  user-select: none;
	  cursor: pointer;
	  margin-bottom: 0;
	}
	.label-cbx input:checked + .checkbox {
	  border-color: #314A5D;
	}
	.label-cbx input:checked + .checkbox svg path {
	  fill: #314A5D;
	}
	.label-cbx input:checked + .checkbox svg polyline {
	  stroke-dashoffset: 0;
	}
	.label-cbx:hover .checkbox svg path {
	  stroke-dashoffset: 0;
	}
	.label-cbx .checkbox {
	  position: relative;
	  top: 2px;
	  float: left;
	  margin-right: 15px;
	  width: 34px;
	  height: 34px;
	  border: 1px solid #B7C0C9;
	}
	.label-cbx .checkbox svg {
	  position: absolute;
	  top: -2px;
	  left: -2px;
	}
	.label-cbx .checkbox svg polyline {
	  fill: none;
	  stroke: #314A5D;
	  stroke-width: 3;
	  stroke-linecap: round;
	  stroke-linejoin: round;
	  stroke-dasharray: 34px;
	  stroke-dashoffset: 34px;
	  transition: all 0.3s ease;
	}
	.label-cbx > span {
		pointer-events: none;
		vertical-align: middle;
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 34px;

		color: #314A5D;
	}

	.cntr {
	  position: absolute;
	  top: 45%;
	  left: 0;
	  width: 100%;
	  text-align: center;
	}

	.invisible {
	  position: absolute;
	  z-index: -1;
	  width: 0;
	  height: 0;
	  opacity: 0;
	}
	
	.noUi-target {
		background: #fff;
		border-radius: 0;
		border: 0px solid #D3D3D3;
		box-shadow: none;
		height: auto;
	}
	.noUi-handle {
		border: 0;
		box-shadow: none;
		background: #A0BBCB;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		outline: 0;
		top: -10px;
		right: -10px!important;
		
		&:before,
		&:after {
			display: none;
		}
	}
	.noUi-origin {
		transition: all 150ms;
	}
	
	.popup__close {
		background-image: url('../img/detail-close-blue.svg');
		width: 21px;
		height: 21px;
		right: 17px;
		top: 17px;
	}
}

.popup__special {
	display: block;
	width: 55%;
	
	.popup__title {
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 78px;
		line-height: normal;
		color: #314A5D;
		margin-bottom: 60px;
	}
	.special__left {
		width: 50%;
	}
	.special__left-name {
		font-family: Rage Italic LET;
		font-size: 101px;
		line-height: 111px;
		color: #314A5D;
	}
	.special__left-author {
		font-family: Gotham Pro;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 26px;
		color: #314A5D;
		margin-top: 40px;
	}
	.special__left-text {
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 61px;
		color: #767676;
	}
	
	.special__right {
		width: 50%;
		position: relative;
		.special__right-sale {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			
			font-family: Rage Italic LET;
			font-size: 163.102px;
			line-height: 221px;

			color: #DC143C;
			
			span {
				font-family: Rage Italic LET;
				font-size: 72px;
				line-height: 98px;
				color: #DC143C;
				display: block;
			}
		}
	}
	.popup__close {
		width: 53px;
		height: 53px;
	}
}

.selection-city .man-list-inner .city-list-inner-link:before {
    display: none;
}
.selection-city .man-list-inner {
    background: #F3F4F6;
	width: 250px;
    height: 155px;
	
	a.city-list-inner-link {
		color: #314A5D;
		line-height: 24px;
		font-size: 20px;
		margin-top: 15px;
	}
}

.header-inner-menu-detail {
	.header-inner-menu-item:last-child {
		a {
			padding-right: 0;
		}
	}
	.header-inner-menu-item {
		.header-inner-menu-link {
			padding: 26px 22px 24px 22px;
		}
	}
}

.page__404 {
	width: 100%;
	height: 100vh;
	background: url("../img/404_bg.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	
	a {
		position: absolute;
		top: 71%;
		left: 47%;
		display: block;
		padding: 20px 50px;
		background: #dbdbdb;
		color: #000;
		font-size: 14px;
		line-height: 14px;
		text-decoration: none;
		border-radius: 40px;
	}
}

.popup__detail::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.popup__detail::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.popup__detail::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #8098ab;
}

.catalog-item-info-private a {
	text-decoration: none;
	color: #fff;
}

.for-comment {
	position: absolute;
    top: -4px;
    left: 0;
    color: #fff;
    border: none;
    cursor: pointer;
	background: #314A5D;
    padding: 11px 53px 10px 53px;
    font-size: 13px;
    line-height: 12px;
    outline: none;
	width: 100%;
    padding: 8px 0px 7px 0px;
	transition: all 300ms ease-in;
}
.for-comment:hover {
    background: #DC143C;
}
.catalog-list .catalog-item .item-content-description {
	position: relative;
	margin-top: 0;
	padding-top: 30px;
}
.catalog-list .catalog-item .item-content-description .item-content-description-number {
    margin-top: 6px;
}
.catalog-item-info a {
	color: #fff;
	text-decoration: none;
}
.selection-city .city-list-inner {
    background: #F3F4F6;
	.city-list-inner-link {
		color: #314A5D;
	}
}
.selection-city .city-list-inner.man-list-inner {
    height: auto;
    padding: 30px 30px;
	left: 0;
	.city-list-inner-link:first-child {
		margin-top: 0px;
	}
}

.city-phone:first-child:before {
    background: url('../img/moscow.svg') no-repeat;
	width: 31px;
	height: 31px;
	background-size: cover;
}


@media only screen and (max-width : 1366px) {
	.popup__detail {
		font-size: 16px;
		width: 46%;
		padding: 28px 90px 10px 90px;
		overflow-y: scroll;
		.popup__close {
			top: 25px;
		}
	}
	.side-detail {
		width: 46%;
	}
	.side-detail-right {
		padding-left: 41px;
		padding-right: 41px;
		padding-top: 76px;
		width: 54%;
	}
	.detail__name {
		display: none;
	}
	
	
	.detail__photos {
		
		.detail__photos-item {
			width: 210px;
			height: 168px;
			margin-bottom: 12px;
			overflow: hidden;
			
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.detail__main {
		.detail__main-city {
			margin-bottom: 20px;
		}
		.detail__main-name {
			font-size: 28px;
			margin-bottom: 12px;
			
			span {
				font-size: 26px;
				padding-left: 15px;
			}
		}
		.button__border {
			font-size: 16px;
			padding: 8px 26px;
			font-weight: normal;
		}
	}
	.detail__params {
		margin-bottom: 24px;
		.detail__params-line {
			
			div:first-child {
				width: auto;
			}
			div:last-child {
				text-align: right;
				width: auto;
				padding-left: 30px;
			}
		}
	}
	.popup__close {
		width: 21px;
		height: 21px;
		right: 35px;
		top: 120px;
	}
	.detail__address {
		.detail__address-area {
			padding-left: 25px;
		}
		.detail__address-metro {
			padding-left: 33px;
			margin-left: 24px;
		}
	}
	.header-inner-detail:before {
		width: 54%;
		height: 68px;
	}
	.side-detail:before {
		top: 68px;
	}
	.detail__links .link__cabinet {
		padding-top: 66px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	
	
	.beclient__contacts {
		width: 34%;
		left: 20%;
		padding-top: 216px;
		.button__border {
			font-size: 16px;
			padding: 8px 31px;
		}
		.main__contactsrow-info div:first-child {
			margin-bottom: 0px;
		}
	}
	.beclient__desc {
		width: 46%;
		padding-top: 216px;
	}
	.main__contacts-beclient {
		width: 720px;
		font-size: 52px;
		top: 112px;
	}
	
	.popup__special {
		width: 52%;
		
		.popup__title {
			font-size: 56px;
			margin-bottom: 50px;
		}
		.special__left {
			width: 50%;
		}
		.special__left-name {
			font-size: 80px;
			line-height: 90px;
		}
		.special__left-author {
			font-size: 18px;
			line-height: 26px;
			margin-top: 40px;
		}
		.special__left-text {
			font-size: 28px;
			line-height: 38px;
		}
		
		.special__right {
			width: 50%;
			.special__right-sale {
				font-size: 120px;
				line-height: 160px;
				
				span {
					font-size: 52px;
					line-height: 52px;
				}
			}
		}
		.popup__close {
			width: 42px;
			height: 42px;
		}
	}
	
	.page__404 {
		a {
			top: 71%;
			left: 45%;
		}
	}
	
	.header-inner-menu-detail .header-inner-menu-item .header-inner-menu-link {
		padding: 26px 7px 24px 7px;
	}
	
	.popup__search .popup__title {
		font-size: 34px;
		line-height: 34px;
		margin-bottom: 24px;
	}
	.popup__search .input__text:disabled, .popup__search .input__text {
		font-size: 16px;
		padding: 12px;
	}
	.nice-select {
		font-size: 16px;
		padding: 12px;
	}
	.popup__search .input__row {
		margin-bottom: 20px;
	}
	.popup__search .input__col > label {
		font-size: 16px;
		margin-bottom: 12px;
	}
	.popup__search .input__submit {
		font-size: 16px;
		padding: 18px 50px;
	}
	.nice-select:after {
		top: 47%;
	}
	
	.forman__list-white {
		margin-top: 90px;
		margin-bottom: 0;
	}
	.selection-city .city-list-inner .city-list-inner-link {
		line-height: 34px;
		font-size: 20px;
	}
	
	.catalog-list .catalog-item .item-content-description {
		font-size: 16px;
		line-height: 20px;
	}
	
	.catalog-list {
		margin-top: 0;
	}
	
	.menu-tablet .container:after {
		left: 0;
	}
	
	.beclient__desc {
		padding-top: 200px;
		font-size: 14px;
		line-height: 22px;
	}
	.main__contacts-beclient {
		width: 560px;
		font-size: 44px;
		top: 80px;
	}
	.beclient__contacts {
		padding-top: 146px;
	}
}

@media only screen and (max-width : 1366px) and (max-height : 768px) and (min-height : 600px) {
	/* .catalog-list {
		margin-top: 40px;
		
		.catalog-item:nth-child(1),
		.catalog-item:nth-child(2),
		.catalog-item:nth-child(3),
		.catalog-item:nth-child(4),
		.catalog-item:nth-child(5),
		.catalog-item:nth-child(6) {
			margin-bottom: 120px;
		}
	} */
}
@media only screen and (max-width : 1100px) and (min-height: 600px) and(max-height: 1000px) {
	.main__about-title {
		line-height: 36px;
		font-size: 36px;
		margin-bottom: 58px;
	}
	.main__about .button__beclient {
		padding-left: 52px;
		padding-right: 15px;
		font-size: 12px;
	}
	.main__about {
		width: 31%;
		margin-left: 14%;
	}
	.main__desc {
		position: static;
		left: 0;
	}
	.section__fourth {
		background-size: 930px;
		background-position-x: -100px;
		background-position-y: 0px;
	}
}
@media only screen and (max-width : 1024px) {
	.row {
		display: block;
	}
	.side {
		width: 100%;
		height: auto;
	}
	.side-right {
		.forman__list {
			display: none;
		}
	}
	.forman__list-white {
		margin-top: 32px;
		margin-bottom: 56px;
	}
	/* Detail */
	.side-detail, .side-detail-right {
		width: 100%;
	}
	.side-detail {
		height: 500px;
		
		img {
			width: 100%;
			height: auto;
		}
	}
	.side-detail-right {
		padding-left: 35px;
		padding-right: 35px;
		padding-top: 26px;
	}
	.detail__address,
	.detail__params-line,
	.detail__photos,
	.detail__info {
		display: flex;
	}
	.detail__photos {
		.detail__photos-item {
			width: calc(25% - 1.5px);
			height: auto;
			margin-bottom: 3px;
		}
	}
	.detail__main {
		position: relative;
		.detail__main-city {
			position: absolute;
			left: 0;
			top: 0;
			width: 44px;
			height: 44px;
			img {
				width: 100%;
			}
		}
		.detail__main-name {
			font-size: 33px;
			margin-bottom: 24px;
			padding-left: 64px;
			line-height: 44px;
			padding-top: 0px;
			
			span {
				font-size: 28px;
				padding-left: 27px;
			}
		}
		.button__border {
			font-size: 16px;
			padding: 15px 24px;
			font-weight: normal;
		}
	}
	.detail__info {
		margin-bottom: 29px;
	}
	.popup__detail {
		height: 100%;
		width: 100%;
		padding: 64px 35px 15px 35px;
		background: linear-gradient(0deg, rgba(3, 57, 83, 1), rgba(3, 57, 83, 1));
	}
	.popup__close {
		right: 23px;
		top: 23px;
	}
	.is-popup .container,
	.is-popup .side {
		filter: blur(20px);
	}
	.header-inner-detail:before,
	.side-detail:before {
		display: none;
	}
	.detail__page {
		width: 100%;
		height: auto;
	}
	.detail__links .link__cabinet {
		padding-top: 0;
		font-size: 16px;
	}
	
	.beclient__contacts {
		width: 60%;
		left: 0%;
		padding-top: 216px;
		padding-left: 35px;
		padding-right: 52px;
	}
	.main__contacts-beclient {
		width: 460px;
		font-size: 44px;
		top: 131px;
		left: 35px;
	}
	.beclient__desc {
		display: none;
	}
	
	.popup__comment,
	.popup__search {
		width: 100%;
		height: 100vh;
		padding: 0;
		background: #fff;
		z-index: 10;
		position: fixed;
		
		.popup__container {
			padding: 48px 35px 10px 35px;
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
		}
	}
	.popup__comment {
		.row {
			display: flex;
		}
		.input__row-small {
			text-align: left;
		}
	}
	.page__404 {
		a {
			left: 43%;
		}
	}
	.header-inner-detail {
		position: absolute;
	}
	
	.beclient.section__fifth {
		height: auto;
	}
	.main__contacts {
		position: static;
		padding: 90px 67px 48px 60px;
	}
	.beclient__desc {
		display: block;
		position: static;
	}
	.main__contacts-beclient {
		width: 100%;
		font-size: 44px;
		line-height: 48px;
		position: static;
	}
	.beclient__desc {
		width: 60%;
		padding-top: 20px;
		background: #033953;
	}
	.catalog-item-info {
		display: none;
	}
}
@media only screen and (max-width : 768px) {
	.forman__title {
		font-size: 42px;
		line-height: 72px;
	}
	.forman__list-white {
		margin-top: 15px;
		margin-bottom: 41px;
	}
	/* Detail */
	.side-detail {
		height: 576px;
	}
	.detail__main {
		position: relative;
		.detail__main-city {
			position: absolute;
			left: 0;
			top: 0;
			width: 44px;
			height: 44px;
			img {
				width: 100%;
			}
		}
		.detail__main-name {
			font-size: 24px;
			margin-bottom: 10px;
			padding-left: 57px;
			line-height: 24px;
			margin-bottom: 16px;
			
			span {
				font-size: 18px;
				display: block;
				padding-left: 0;
				padding-top: 4px;
			}
		}
		.button__border {
			font-size: 14px;
			padding: 14px 16px;
			font-weight: normal;
		}
	}
	.detail__info {
		margin-bottom: 32px;
	}
	.detail__photos {
		.detail__photos-item {
			width: calc(33.3333% - 1.5px);
			height: auto;
			margin-bottom: 3px;
		}
	}
	.fancybox-navigation .fancybox-button.gallery__button {
		left: 15px;
	}
	.fancybox-navigation .fancybox-button.gallery__button.fancybox-button--arrow_right {
		right: 15px;
	}
	
	.beclient__contacts {
		width: 100%;
		left: 0%;
		padding-top: 116px;
		padding-left: 35px;
		padding-right: 52px;
		
		.main__contactsrow-info {
			font-size: 12px;
			line-height: 23px;
		}
		.button__border {
			text-align: center;
			padding: 10px 0px;
		}
	}
	.main__contacts-beclient {
		position: static;
		font-size: 26px;
		width: auto;
	}
	
	.popup__comment,
	.popup__search {
		.popup__title {
			font-size: 26px;
			line-height: 41px;
			margin-bottom: 18px;
		}
		.popup__container {
			padding: 31px 45px 15px 45px;
		}
		.input__text:disabled,
		.input__text {
			padding: 20px 16px;
			font-size: 16px;
		}
		.nice-select {
			font-size: 16px;
			padding: 20px 16px;
		}
		
		.input__row {
			display: block;
			margin-bottom: 0;
		}
		.input__col {
			width: 100%;
			margin-bottom: 15px;
			
			.input__row {
				display: flex;
			}
		}
		.input__col-slider {
			width: calc(50% - 42px);
		}
		.input__row-small {
			width: 50%;
			display: inline-block;
			float: left;
			vertical-align: middle;
			
			&:last-child {
				text-align: right;
			}
		}
		.popup__search .label-cbx {
			margin-bottom: 0;
			padding-top: 12px;
			display: block;
		}
	}
	.popup__comment .popup__girl-city img {
		margin-bottom: 12px;
	}
	
	.popup__special {
		
		.row {
			display: block;
		}
		
		.popup__title {
			font-size: 40px;
			margin-bottom: 40px;
		}
		.special__left {
			width: 100%;
		}
		.special__left-name {
			font-size: 56px;
			line-height: 64px;
		}
		.special__left-author {
			font-size: 18px;
			line-height: 26px;
			margin-top: 40px;
		}
		.special__left-text {
			font-size: 28px;
			line-height: 38px;
		}
		
		.special__right {
			width: 100%;
			margin-top: 40px;
		}
		.popup__close {
			width: 28px;
			height: 28px;
		}
	}
	.page__404 {
		background-position-x: 55%;
		a {
			top: 71%;
			left: 37%;
		}
	}
	
	.popup__comment, .popup__search {
		z-index: 100;
	}
	
	.beclient.section__fifth {
		height: auto!important;
	}
	.beclient__desc {
		width: 100%;
	}
	
	.beclient__contacts {
		padding-top: 80px;
		padding-left: 35px;
		padding-right: 35px;
	}
	.beclient__contacts .button__border {
		padding: 6px 0px;
		font-size: 10px;
	}
	.main__contactsrow-btn {
		width: 27%;
	}
	.main__contactsrow-info {
		width: 50%;
	}
	.main__contacts-beclient {
		line-height: 32px;
	}
}
@media only screen and (max-width : 360px) and (max-width : 640px) {
	.detail__main {
		width: 100%;
		text-align: left;
		margin-bottom: 30px;
		
		.detail__main-btn {
			a {
				width: 100%;
				display: block;
				text-align: center;
			}
		}
	}
	.detail__links {
		width: 100%;
		text-align: left;
	}
	.detail__info {
		display: block;
	}
	.side-detail {
		height: 400px;
	}
	.popup__detail {
		padding: 64px 25px 15px 25px;
		font-size: 14px;
	}
	.detail__address {
		display: block;
		.detail__address-area {
			margin-left: 0;
			margin-bottom: 15px;
		}
		.detail__address-metro {
			margin-left: 0;
		}
	}
}

@media only screen and (max-width : 480px) {
	.popup__comment {
		.row {
			display: block;
		}
		.popup__girl-pic {
			max-height: 205px;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.popup__girl-info {
			padding-left: 0;
			margin-top: 24px;
			position: relative;
		}
		.popup__girl-city {
			width: 110px;
			margin-bottom: 60px;
		}
		.popup__girl-params {
			position: absolute;
			left: 150px;
			bottom: -30px;
			width: 130px;
			font-weight: normal;
			font-size: 20px;
		}
	}
	.popup__special {
		
		.popup__title {
			font-size: 36px;
			margin-bottom: 30px;
		}
		.special__left-name {
			font-size: 46px;
			line-height: 54px;
		}
		.special__left-author {
			font-size: 16px;
			line-height: 22px;
			margin-top: 30px;
		}
		.special__left-text {
			font-size: 20px;
			line-height: 30px;
		}

		.popup__close {
			width: 24px;
			height: 24px;
		}
	}
	.page__404 {
		a {
			top: 70%;
			left: 14%;
		}
	}
}