@media (min-width: 1100px) and (max-width: 1365px) {
	
	.base-city {
		margin-top: 38px;
		margin-bottom: 0;
		padding: 0 35px;

		.base-city-link {
			font-size: 24px;
			line-height: 27px;
			margin-right: 58px;
		}
	}

	.catalog-list {

		.catalog-item {

			.catalog-item-link {

				.icon-private {
					top: 7px;
					right: 11px;

					.icon-private-img {
						width: 19.4px;
						height: 19.4px;

						& line {
							stroke-width: 1;
						}
					}

					.add-list {
            font-size: 13px;
            padding-top: 18px;
					}

					.add-favorite, .add-archive {
						padding-top: 5px;
					}
				}
			}
		}

		.catalog-item-info-private {
			width: 191px;
			height: 185px;
			font-size: 14px;

			.img-city {
				width: 35px;
				height: 35px;
			}

			.title-city {
				font-size: 16px;
				line-height: 15px;
				padding-top: 4px;
			}

			.characteristic {
				padding-top: 6px;
			}
		}
	}
}
